.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 13rem;
  width: 13rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background: var(--bg-tertiary);
  transition: all 0.5s ease;

  &:hover {
    border: 0.1px solid var(--light-accent-color);
    transform: scale(1.01);

    .icon {
      transform: scale(1.1);
    }
  }

  .icon {
    height: 4.5rem;
    width: 4.5rem;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .name {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
  }
}

@media (max-width: 630px) {
  .skill-card {
    height: 10rem;
    width: 10rem;

    .icon {
      height: 4rem;
      width: 4rem;
    }

    .name{
      font-size: 1rem;
    }
  }
}

@media (max-width: 450px) {
  .skill-card {
    height: 8.5rem;
    width: 8.5rem;

    .icon {
      height: 3.5rem;
      width: 3.5rem;
    }

    .name{
      font-size: 1rem;
    }
  }
}
