.projectCard {
  width: 350px;
  border-radius: 0.5rem;
  padding: 1rem;
  background: var(--bg-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .upperContainer {
    .topContainer {
      padding: 1px;
      border-radius: 20px;
      height: 13rem;
      position: relative;

      .image {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }

      .githubContainer {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;

        .innerContainer {
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 50%;
          padding: 5px;
        }
      }
    }

    .middleContainer {
      margin-top: 1rem;

      .projectName {
        color: var(--text-color);
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.5rem;
      }

      p {
        margin-top: 0.5rem;
        color: var(--muted-foreground);
        font-size: 0.85rem;
        line-height: 1.1rem;
      }
    }
  }

  .bottomContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    column-gap: 0.6rem;

    .tagText {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}

@media(max-width: 900px) {
  .projectCard{
    width: 330px;
  }
}